<div class="page-layout">
    <!-- Barre menu en haut -->
    <app-sidebar class="topbar"></app-sidebar>
  
<div class="page-wrapper">
    <!-- Bandeau -->
    <div class="header-bar">
      <img src="assets/img/logo-si-prod.png" class="logo" alt="SI PROD" />
      <div class="user-date-block">
        <div class="date">{{ currentDate }}</div>
        <div class="user">Utilisateur : <strong>{{ currentUser }}</strong></div>
      </div>
      <img src="assets/img/logo-cdg.png" class="logo" alt="CDG" />
    </div>
  
    <!-- Contenu -->
    <div class="container">
      <h3>Incident de Paiement</h3>
  
      <!-- Tableau 1 -->
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Chemin</th>
              <th>Date modification</th>
              <th>Taille</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>/app/eri/olympic/env/OLYHit2/extract/FD</td>
              <td>--/--/----</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Tableau 2 -->
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Chemin</th>
              <th>Date modification</th>
              <th>Taille</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>/app/eri/olympic/env/OLYHit2/extract/FD</td>
              <td>--/--/----</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Tableau 3 -->
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Chemin</th>
              <th>Date modification</th>
              <th>Taille</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>/app/eri/olympic/env/OLYHit2/extract/FD</td>
              <td>--/--/----</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Boutons -->
      <div class="button-group">
        <button class="btn btn-blue">Lancez l’analyse</button>
        <button class="btn btn-purple">Envoi BKAM</button>
        <button class="btn btn-green">Enregistrer</button>
        <button class="btn btn-red">Quitter</button>
      </div>
    </div>
  </div>
  